---
layout: default
permalink: "/campuses"
title: Campuses
head_title: 'Campuses'
description: ''
---

{% for _page in site.pages %}
  {% if _page.settings %}
    {% assign settings = _page %}
  {% endif %}
{% endfor %}
<div class="container-fluid bg-primary p-5">
  <div class="p-5">
    <div class="p-5">
      <div class="p-5">
        <div class="p-5">

        </div>
      </div>
<!-- divs with padding just to create the visual space needed for the rest of the page -->
    </div>
  </div>
</div>

<!-- slanty state image thing -->
<div class="container-fluid bg-brand-primary-light slant-campuses ">
  <div class="row justify-content-center">
    <div class="col-11 ">
      <amp-img 
        src="/assets/img/state-transparent.png" 
        class="img-fluid my-5" 
        width="1200"
        height="120"
        alt="Responsive Image" 
        layout="responsive">
      </amp-img>
    </div>
  </div>
</div>

<!-- header for state list -->
<div class="container-fluid bg-white">
  <div class="row justify-content-center text-center mt-4">
    <div class="col-10">
      <h1 class="text-primary m-0">
        Our Schools
      </h1>
    </div>
  </div>
</div>

<!-- the mess of containers for states -->

<!-- container for everything -->
<div class="container-fluid m-0 p-0 py-3 mb-5">
  <!-- rows for each line -->
  <div class="row justify-content-center text-center m-0 p-0 ">
    <!-- the column to provide responsiveness -->
    <div class="col-md-6 m-0 p-0 small-shadow bg-white card-height pb-3">
      <!-- another container to do some tricks to have a header but also centered text -->
      <div class="container-fluid m-0 p-0 h-100">
        <!-- row for the header -->
        <div class="row p-0 m-0 justify-content-center">
          <h3 class="text-primary py-4 m-0">
            CENTRAL TEXAS
          </h3>
        </div>
        <!-- hack to have the header be at the top but the text dead center -->
        <!-- max-height does a calculation for the remaining size and adjusts properly  -->
        <div class="row p-0 m-0 flex-column max-height justify-content-center ">
          <a class="text-primary align-self-center" href="">
            New Braunfels Dental
          </a>
          <a class="text-primary align-self-center" href="">
            Austin-North Dental
          </a>
          <a class="text-primary align-self-center" href="">
            Austin-South Dental
          </a>
          <a class="text-primary align-self-center" href="">
            Austin-Round Rock Dental
          </a>
          <a class="text-primary align-self-center" href="">
            Austin-W. Braker Dental
          </a>
          <a class="text-primary align-self-center" href="">
            Austin-Round Rock Medical
          </a>
          <a class="text-primary align-self-center" href="">
            Austin-Manor Medical
          </a>
          <a class="text-primary align-self-center" href="">
            San Antonio-Converse Dental
          </a>
          <a class="text-primary align-self-center" href="">
            San Antonio-Northwest Dental
          </a>
          <a class="text-primary align-self-center" href="">
            San Antonio-Northwest Ortho
          </a>
          <a class="text-primary align-self-center" href="">
            Gonzales Medical
          </a>
          <a class="text-primary align-self-center" href="">
            Manor Dental
          </a>
          <a class="text-primary align-self-center" href="">
            Temple Dental
          </a>
          <a class="text-primary align-self-center" href="">
            Texas-Austin Dental
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6 m-0 p-0 small-shadow bg-brand-primary-light card-height pb-3">
      <div class="container-fluid m-0 p-0 h-100">
        <div class="row p-0 m-0 justify-content-center">
          <h3 class="text-primary py-4 m-0">
            EASTERN TEXAS
          </h3>
        </div>
        <div class="row p-0 m-0 flex-column max-height justify-content-center ">
          <a class="text-primary align-self-center" href="">
            Beaumont Dental
          </a>
          <a class="text-primary align-self-center" href="">
            College Station Dental
          </a>
          <a class="text-primary align-self-center" href="">
            College Station Medical
          </a>
          <a class="text-primary align-self-center" href="">
            Houston-Katy Dental
          </a>
          <a class="text-primary align-self-center" href="">
            Houston-South Dental
          </a>
          <a class="text-primary align-self-center" href="">
            Lake Jackson Medical
          </a>
          <a class="text-primary align-self-center" href="">
            League City Medical
          </a>
          <a class="text-primary align-self-center" href="">
            Nacogdoches Dental
          </a>
          <a class="text-primary align-self-center" href="">
            Texas-Alvin Dental
          </a>
          <a class="text-primary align-self-center" href="">
            Texas-Huntsville Dental
          </a>
          <a class="text-primary align-self-center" href="">
            Tyler Dental
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center text-center m-0 p-0 ">
    <!-- the column to provide responsiveness -->
    <div class="col-md-6 m-0 p-0 small-shadow bg-brand-primary-light card-height pb-3">
      <!-- another container to do some tricks to have a header but also centered text -->
      <div class="container-fluid m-0 p-0 h-100">
        <!-- row for the header -->
        <div class="row p-0 m-0 justify-content-center">
          <h3 class="text-primary py-4 m-0">
            NORTHERN TEXAS
          </h3>
        </div>
        <!-- hack to have the header be at the top but the text dead center -->
        <!-- max-height does a calculation for the remaining size and adjusts properly  -->
        <div class="row p-0 m-0 flex-column max-height justify-content-center ">
          <a class="text-primary align-self-center" href="">
            Dallas-Plano Dental
          </a>
          <a class="text-primary align-self-center" href="">
            Dallas-Uptown Dental
          </a>
          <a class="text-primary align-self-center" href="">
            Dallas-Mesquite Dental
          </a>
          <a class="text-primary align-self-center" href="">
            Fort Worth Dental
          </a>
          <a class="text-primary align-self-center" href="">
            Granbury Medical
          </a>
          <a class="text-primary align-self-center" href="">
            Grapevine Dental
          </a>
          <a class="text-primary align-self-center" href="">
            McKinney Dental
          </a>
          <a class="text-primary align-self-center" href="">
            Waco Dental
          </a>
          <a class="text-primary align-self-center" href="">
            Wichita Falls Dental
          </a>
          <a class="text-primary align-self-center" href="">
            Wichita Falls Medical
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6 m-0 p-0 small-shadow bg-white card-height pb-3">
      <div class="container-fluid m-0 p-0 h-100">
        <div class="row p-0 m-0 justify-content-center">
          <h3 class="text-primary py-4 m-0">
            SOUTHERN TEXAS
          </h3>
        </div>
        <div class="row p-0 m-0 flex-column max-height justify-content-center ">
          <a class="text-primary align-self-center" href="">
            Corpus Christi Dental
          </a>
          <a class="text-primary align-self-center" href="">
            Laredo Dental
          </a>
          <a class="text-primary align-self-center" href="">
            Mission Medical
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center text-center m-0 p-0 ">
    <!-- the column to provide responsiveness -->
    <div class="col-md-6 m-0 p-0 small-shadow bg-white card-height pb-3">
      <!-- another container to do some tricks to have a header but also centered text -->
      <div class="container-fluid m-0 p-0 h-100">
        <!-- row for the header -->
        <div class="row p-0 m-0 justify-content-center">
          <h3 class="text-primary py-4 m-0">
            WESTERN TEXAS
          </h3>
        </div>
        <!-- hack to have the header be at the top but the text dead center -->
        <!-- max-height does a calculation for the remaining size and adjusts properly  -->
        <div class="row p-0 m-0 flex-column max-height justify-content-center ">
          <a class="text-primary align-self-center" href="">
            Abilene Dental
          </a>
          <a class="text-primary align-self-center" href="">
            Abilene Medical
          </a>
          <a class="text-primary align-self-center" href="">
            Amarillo Dental
          </a>
          <a class="text-primary align-self-center" href="">
            Amarillo Medical
          </a>
          <a class="text-primary align-self-center" href="">
            El Paso Medical
          </a>
          <a class="text-primary align-self-center" href="">
            Lubbock Dental
          </a>
          <a class="text-primary align-self-center" href="">
            Lubbock Medical
          </a>
          <a class="text-primary align-self-center" href="">
            Midland Dental
          </a>
          <a class="text-primary align-self-center" href="">
            Odessa Dental
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6 m-0 p-0 small-shadow bg-brand-primary-light card-height pb-3">
      <div class="container-fluid m-0 p-0 h-100">
        <div class="row p-0 m-0 justify-content-center">
          <h3 class="text-primary py-4 m-0">
            ALABAMA
          </h3>
        </div>
        <div class="row p-0 m-0 flex-column max-height justify-content-center ">
          <a class="text-primary align-self-center" href="">
            Tuscaloosa Dental
          </a>
          <a class="text-primary align-self-center" href="">
            Birmingham Dental
          </a>
          <a class="text-primary align-self-center" href="">
            Huntsville Medical
          </a>
          <a class="text-primary align-self-center" href="">
            Huntsville Dental
          </a>
          <a class="text-primary align-self-center" href="">
            Little Rock Dental
          </a>
          <a class="text-primary align-self-center" href="">
            Montgomery Dental
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center text-center m-0 p-0 ">
    <!-- the column to provide responsiveness -->
    <div class="col-md-6 m-0 p-0 small-shadow bg-brand-primary-light card-height pb-3">
      <!-- another container to do some tricks to have a header but also centered text -->
      <div class="container-fluid m-0 p-0 h-100">
        <!-- row for the header -->
        <div class="row p-0 m-0 justify-content-center">
          <h3 class="text-primary py-4 m-0">
            ARIZONA
          </h3>
        </div>
        <!-- hack to have the header be at the top but the text dead center -->
        <!-- max-height does a calculation for the remaining size and adjusts properly  -->
        <div class="row p-0 m-0 flex-column max-height justify-content-center ">
          <a class="text-primary align-self-center" href="">
            Phoenix Dental
          </a>
          <a class="text-primary align-self-center" href="">
            Tucson Dental
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6 m-0 p-0 small-shadow bg-white card-height pb-3">
      <div class="container-fluid m-0 p-0 h-100">
        <div class="row p-0 m-0 justify-content-center">
          <h3 class="text-primary py-4 m-0">
            ARKANSAS
          </h3>
        </div>
        <div class="row p-0 m-0 flex-column max-height justify-content-center ">
          <a class="text-primary align-self-center" href="">
            Fayetteville Dental
          </a>
          <a class="text-primary align-self-center" href="">
            Searcy Dental
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center text-center m-0 p-0 ">
    <!-- the column to provide responsiveness -->
    <div class="col-md-6 m-0 p-0 small-shadow bg-white card-height pb-3">
      <!-- another container to do some tricks to have a header but also centered text -->
      <div class="container-fluid m-0 p-0 h-100">
        <!-- row for the header -->
        <div class="row p-0 m-0 justify-content-center">
          <h3 class="text-primary py-4 m-0">
            COLORADO
          </h3>
        </div>
        <!-- hack to have the header be at the top but the text dead center -->
        <!-- max-height does a calculation for the remaining size and adjusts properly  -->
        <div class="row p-0 m-0 flex-column max-height justify-content-center ">
          <a class="text-primary align-self-center" href="">
            Denver Dental
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6 m-0 p-0 small-shadow bg-brand-primary-light card-height pb-3">
      <div class="container-fluid m-0 p-0 h-100">
        <div class="row p-0 m-0 justify-content-center">
          <h3 class="text-primary py-4 m-0">
            FLORIDA
          </h3>
        </div>
        <div class="row p-0 m-0 flex-column max-height justify-content-center ">
          <a class="text-primary align-self-center" href="">
            Gainesville Dental
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center text-center m-0 p-0 ">
    <!-- the column to provide responsiveness -->
    <div class="col-md-6 m-0 p-0 small-shadow bg-brand-primary-light card-height pb-3">
      <!-- another container to do some tricks to have a header but also centered text -->
      <div class="container-fluid m-0 p-0 h-100">
        <!-- row for the header -->
        <div class="row p-0 m-0 justify-content-center">
          <h3 class="text-primary py-4 m-0">
            GEORGIA
          </h3>
        </div>
        <!-- hack to have the header be at the top but the text dead center -->
        <!-- max-height does a calculation for the remaining size and adjusts properly  -->
        <div class="row p-0 m-0 flex-column max-height justify-content-center ">
          <a class="text-primary align-self-center" href="">
            Atlanta-Buckhead Dental
          </a>
          <a class="text-primary align-self-center" href="">
            Atlanta-Marietta Dental
          </a>
          <a class="text-primary align-self-center" href="">
            Augusta Dental
          </a>
          <a class="text-primary align-self-center" href="">
            Dalton Dental
          </a>
          <a class="text-primary align-self-center" href="">
            Savannah Dental
          </a>
          <a class="text-primary align-self-center" href="">
            Valdosta Dental
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6 m-0 p-0 small-shadow bg-white card-height pb-3">
      <div class="container-fluid m-0 p-0 h-100">
        <div class="row p-0 m-0 justify-content-center">
          <h3 class="text-primary py-4 m-0">
            INDIANA
          </h3>
        </div>
        <div class="row p-0 m-0 flex-column max-height justify-content-center ">
          <a class="text-primary align-self-center" href="">
            Franklin Dental
          </a>
          <a class="text-primary align-self-center" href="">
            Indianapolis-Northeast Dental
          </a>
          <a class="text-primary align-self-center" href="">
            Indianapolis-Avon Dental
          </a>
          <a class="text-primary align-self-center" href="">
            Muncie Dental
          </a>
          <a class="text-primary align-self-center" href="">
            South Bend Dental
          </a>
          <a class="text-primary align-self-center" href="">
            St. John Dental
          </a>
          <a class="text-primary align-self-center" href="">
            Terre Haute Dental
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center text-center m-0 p-0 ">
    <!-- the column to provide responsiveness -->
    <div class="col-md-6 m-0 p-0 small-shadow bg-white card-height pb-3">
      <!-- another container to do some tricks to have a header but also centered text -->
      <div class="container-fluid m-0 p-0 h-100">
        <!-- row for the header -->
        <div class="row p-0 m-0 justify-content-center">
          <h3 class="text-primary py-4 m-0">
            ILLINOIS
          </h3>
        </div>
        <!-- hack to have the header be at the top but the text dead center -->
        <!-- max-height does a calculation for the remaining size and adjusts properly  -->
        <div class="row p-0 m-0 flex-column max-height justify-content-center ">
          <a class="text-primary align-self-center" href="">
            Chicago Dental
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6 m-0 p-0 small-shadow bg-brand-primary-light card-height pb-3">
      <div class="container-fluid m-0 p-0 h-100">
        <div class="row p-0 m-0 justify-content-center">
          <h3 class="text-primary py-4 m-0">
            LOUISIANA
          </h3>
        </div>
        <div class="row p-0 m-0 flex-column max-height justify-content-center ">
          <a class="text-primary align-self-center" href="">
            Alexandria Dental
          </a>
          <a class="text-primary align-self-center" href="">
            Baton Rouge Dental
          </a>
          <a class="text-primary align-self-center" href="">
            Lafayette Dental
          </a>
          <a class="text-primary align-self-center" href="">
            Louisiana-Alexandria Dental
          </a>
          <a class="text-primary align-self-center" href="">
            Louisiana-Baton Rouge Dental
          </a>
          <a class="text-primary align-self-center" href="">
            New Orleans Dental
          </a>
          <a class="text-primary align-self-center" href="">
            Shreveport Dental
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center text-center m-0 p-0 ">
    <!-- the column to provide responsiveness -->
    <div class="col-md-6 m-0 p-0 small-shadow bg-brand-primary-light card-height pb-3">
      <!-- another container to do some tricks to have a header but also centered text -->
      <div class="container-fluid m-0 p-0 h-100">
        <!-- row for the header -->
        <div class="row p-0 m-0 justify-content-center">
          <h3 class="text-primary py-4 m-0">
            NEVADA
          </h3>
        </div>
        <!-- hack to have the header be at the top but the text dead center -->
        <!-- max-height does a calculation for the remaining size and adjusts properly  -->
        <div class="row p-0 m-0 flex-column max-height justify-content-center ">
          <a class="text-primary align-self-center" href="">
            Las Vegas-Charleston Dental
          </a>
          <a class="text-primary align-self-center" href="">
            Las Vegas Medical
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6 m-0 p-0 small-shadow bg-white card-height pb-3">
      <div class="container-fluid m-0 p-0 h-100">
        <div class="row p-0 m-0 justify-content-center">
          <h3 class="text-primary py-4 m-0">
            NEW MEXICO
          </h3>
        </div>
        <div class="row p-0 m-0 flex-column max-height justify-content-center ">
          <a class="text-primary align-self-center" href="">
            Albuquerque Dental
          </a>
          <a class="text-primary align-self-center" href="">
            Las Cruces Dental
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center text-center m-0 p-0 ">
    <!-- the column to provide responsiveness -->
    <div class="col-md-6 m-0 p-0 small-shadow bg-white card-height pb-3">
      <!-- another container to do some tricks to have a header but also centered text -->
      <div class="container-fluid m-0 p-0 h-100">
        <!-- row for the header -->
        <div class="row p-0 m-0 justify-content-center">
          <h3 class="text-primary py-4 m-0">
            NORTH CAROLINA
          </h3>
        </div>
        <!-- hack to have the header be at the top but the text dead center -->
        <!-- max-height does a calculation for the remaining size and adjusts properly  -->
        <div class="row p-0 m-0 flex-column max-height justify-content-center ">
          <a class="text-primary align-self-center" href="">
            Charlotte Dental
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6 m-0 p-0 small-shadow bg-brand-primary-light card-height pb-3">
      <div class="container-fluid m-0 p-0 h-100">
        <div class="row p-0 m-0 justify-content-center">
          <h3 class="text-primary py-4 m-0">
            OKLAHOMA
          </h3>
        </div>
        <div class="row p-0 m-0 flex-column max-height justify-content-center ">
          <a class="text-primary align-self-center" href="">
            Oklahoma City Dental
          </a>
          <a class="text-primary align-self-center" href="">
            Tulsa Dental
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center text-center m-0 p-0 ">
    <!-- the column to provide responsiveness -->
    <div class="col-md-6 m-0 p-0 small-shadow bg-brand-primary-light card-height pb-3">
      <!-- another container to do some tricks to have a header but also centered text -->
      <div class="container-fluid m-0 p-0 h-100">
        <!-- row for the header -->
        <div class="row p-0 m-0 justify-content-center">
          <h3 class="text-primary py-4 m-0">
            WASHINGTON
          </h3>
        </div>
        <!-- hack to have the header be at the top but the text dead center -->
        <!-- max-height does a calculation for the remaining size and adjusts properly  -->
        <div class="row p-0 m-0 flex-column max-height justify-content-center ">
          <a class="text-primary align-self-center" href="">
            Bellingham Dental
          </a>
          <a class="text-primary align-self-center" href="">
            Bremerton Dental
          </a>
          <a class="text-primary align-self-center" href="">
            Centralia Dental
          </a>
          <a class="text-primary align-self-center" href="">
            Lake Stevens Dental
          </a>
          <a class="text-primary align-self-center" href="">
            Moses Lake Dental
          </a>
          <a class="text-primary align-self-center" href="">
            Olympia Dental
          </a>
          <a class="text-primary align-self-center" href="">
            Seattle-Ballard Dental
          </a>
          <a class="text-primary align-self-center" href="">
            Spokane Dental
          </a>
          <a class="text-primary align-self-center" href="">
            Wenatchee Dental
          </a>
          <a class="text-primary align-self-center" href="">
            Tacoma Dental
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6 m-0 p-0 small-shadow bg-white card-height pb-3 ">
      <div class="container-fluid m-0 p-0 h-100">
        <div class="row p-0 m-0 justify-content-center">
        </div>
        <div class="row p-0 m-0 flex-column max-height justify-content-center ">
        
        </div>
      </div>
    </div>
  </div>
<!--Template to add more rows for more states

white row

<div class="row justify-content-center text-center m-0 p-0 ">
    <div class="col-md-6 m-0 p-0 small-shadow bg-white card-height pb-3">
      <div class="container-fluid m-0 p-0 h-100">
        <div class="row p-0 m-0 justify-content-center">
          *** header here***
        </div>
        <div class="row p-0 m-0 flex-column max-height justify-content-center ">
          *** a refs here***
        </div>
      </div>
    </div>
    <div class="col-md-6 m-0 p-0 small-shadow bg-brand-primary-light card-height pb-3">
      <div class="container-fluid m-0 p-0 h-100">
        <div class="row p-0 m-0 justify-content-center">
          *** header here***
        </div>
        <div class="row p-0 m-0 flex-column max-height justify-content-center ">
          *** a refs here***
        </div>
      </div>
    </div>
  </div>
grey row
<div class="row justify-content-center text-center m-0 p-0 ">
    <div class="col-md-6 m-0 p-0 small-shadow bg-brand-primary-light card-height pb-3">
      <div class="container-fluid m-0 p-0 h-100">
        <div class="row p-0 m-0 justify-content-center">
          *** header here***
        </div>
        <div class="row p-0 m-0 flex-column max-height justify-content-center ">          
          *** a refs here***
        </div>
      </div>
    </div>
    <div class="col-md-6 m-0 p-0 small-shadow bg-white card-height pb-3">
      <div class="container-fluid m-0 p-0 h-100">
        <div class="row p-0 m-0 justify-content-center">
        *** header here***
        </div>
        <div class="row p-0 m-0 flex-column max-height justify-content-center ">    
          *** a refs here***
        </div>
      </div>
    </div>
  </div> -->
</div>