---
layout: default
permalink: "/campuses"
title: Campuses
head_title: 'Campuses'
description: ''
---

{% for _page in site.pages %}
  {% if _page.settings %}
    {% assign settings = _page %}
  {% endif %}
{% endfor %}
<div class="container-fluid bg-primary p-5">
  <div class="p-5">
    <div class="p-5">
      <div class="p-5">
        <div class="p-5">

        </div>
      </div>
<!-- divs with padding just to create the visual space needed for the rest of the page -->
    </div>
  </div>
</div>


<div class="container-fluid bg-brand-primary-light slant-campuses ">
  <div class="row justify-content-center">
    <div class="col-11 ">
      <amp-img 
        src="/assets/img/state-transparent.png" 
        class="img-fluid my-5" 
        width="1200"
        height="120"
        alt="Responsive Image" 
        layout="responsive">
      </amp-img>
    </div>
  </div>
</div>

<div class="container-fluid bg-white">
  <div class="row justify-content-center text-center mt-4">
    <div class="col-10">
      <h1 class="text-primary m-0">
        Our Schools
      </h1>
    </div>
  </div>
</div>

<div class="container-fluid m-0 p-0 pt-3">
  <div class="row justify-content-center text-center m-0 p-0">
    <div class="col-md-6 m-0 p-0">
      <div class="bg-white card-height m-0 p-0 small-shadow">
        <h3 class="text-primary py-4 m-0">
          CENTRAL TEXAS
        </h3>
      </div>
    </div>
    <div class="col-md-6 m-0 p-0">
      <div class="bg-brand-primary-light card-height m-0 p-0">
        <h3 class="text-primary py-4 m-0">
          EASTERN TEXAS
        </h3>
      </div>
    </div>
  </div>
  <div class="row justify-content-center text-center m-0 p-0">
    <div class="col-md-6 m-0 p-0">
      <div class="bg-brand-primary-light card-height m-0 p-0 small-shadow">
        <h3 class="text-primary py-4 m-0">
          NORTHERN TEXAS
        </h3>
      </div>
    </div>
    <div class="col-md-6 m-0 p-0">
      <div class="bg-white card-height m-0 p-0 ">
        <h3 class="text-primary py-4 m-0">
          SOUTHERN TEXAS
        </h3>
      </div>
    </div>
  </div>
  <div class="row justify-content-center text-center m-0 p-0">
    <div class="col-md-6 m-0 p-0">
      <div class="bg-white card-height m-0 p-0">
        <h3 class="text-primary py-4 m-0">
          WESTERN TEXAS
        </h3>
      </div>
    </div>
    <div class="col-md-6 m-0 p-0">
      <div class="bg-brand-primary-light card-height m-0 p-0">
        <h3 class="text-primary py-4 m-0">
          ALABAMA
        </h3>
      </div>
    </div>
  </div>
  <div class="row justify-content-center text-center m-0 p-0">
    <div class="col-md-6 m-0 p-0">
      <div class="bg-brand-primary-light card-height m-0 p-0">
        <h3 class="text-primary py-4 m-0">
          ARIZONA
        </h3>
      </div>
    </div>
    <div class="col-md-6 m-0 p-0">
      <div class="bg-white card-height m-0 p-0">
        <h3 class="text-primary py-4 m-0">
          ARKANSAS
        </h3>
      </div>
    </div>
  </div>
  <div class="row justify-content-center text-center m-0 p-0">
    <div class="col-md-6 m-0 p-0">
      <div class="bg-white card-height m-0 p-0">
        <h3 class="text-primary py-4 m-0">
          COLORADO
        </h3>
      </div>
    </div>
    <div class="col-md-6 m-0 p-0">
      <div class="bg-brand-primary-light card-height m-0 p-0">
        <h3 class="text-primary py-4 m-0">
          FLORIDA
        </h3>
      </div>
    </div>
  </div>
  <div class="row justify-content-center text-center m-0 p-0">
    <div class="col-md-6 m-0 p-0">
      <div class="bg-brand-primary-light card-height m-0 p-0">
        <h3 class="text-primary py-4 m-0">
          GEORGIA
        </h3>
      </div>
    </div>
    <div class="col-md-6 m-0 p-0">
      <div class="bg-white card-height m-0 p-0">
        <h3 class="text-primary py-4 m-0">
          INDIANA
        </h3>
      </div>
    </div>
  </div>
  <div class="row justify-content-center text-center m-0 p-0">
    <div class="col-md-6 m-0 p-0">
      <div class="bg-white card-height m-0 p-0">
        <h3 class="text-primary py-4 m-0">
          ILLINOIS
        </h3>
      </div>
    </div>
    <div class="col-md-6 m-0 p-0">
      <div class="bg-brand-primary-light card-height m-0 p-0">
        <h3 class="text-primary py-4 m-0">
          LOUISIANA
        </h3>
      </div>
    </div>
  </div>
  <div class="row justify-content-center text-center m-0 p-0">
    <div class="col-md-6 m-0 p-0">
      <div class="bg-brand-primary-light card-height m-0 p-0">
        <h3 class="text-primary py-4 m-0">
          NEVADA
        </h3>
      </div>
    </div>
    <div class="col-md-6 m-0 p-0">
      <div class="bg-white card-height m-0 p-0">
        <h3 class="text-primary py-4 m-0">
          NEW MEXICO
        </h3>
      </div>
    </div>
  </div>
  <div class="row justify-content-center text-center m-0 p-0">
    <div class="col-md-6 m-0 p-0">
      <div class="bg-white card-height m-0 p-0">
        <h3 class="text-primary py-4 m-0">
          NORTH CAROLINA
        </h3>
      </div>
    </div>
    <div class="col-md-6 m-0 p-0">
      <div class="bg-brand-primary-light card-height m-0 p-0 ">
        <h3 class="text-primary py-4 m-0">
          OKLAHOMA
        </h3>
      </div>
    </div>
  </div>
  <div class="row justify-content-center text-center m-0 p-0">
    <div class="col-md-6 m-0 p-0">
      <div class="bg-brand-primary-light card-height m-0 p-0">
        <h3 class="text-primary py-4 m-0">
          WASHINGTON
        </h3>
      </div>
    </div>
    <div class="col-md-6 m-0 p-0">
      <div class="bg-white card-height m-0 p-0">
        <h3 class="text-primary py-4 m-0">
          
        </h3>
      </div>
    </div>
  </div>
</div>