---
layout: default
permalink: "/campuses"
title: Campuses
head_title: 'Campuses'
description: ''
---

{% for _page in site.pages %}
  {% if _page.settings %}
    {% assign settings = _page %}
  {% endif %}
{% endfor %}
<div class="container-fluid bg-primary p-5">
  <div class="p-5">
    <div class="p-5">
      <div class="p-5">
        <div class="p-5">

        </div>
      </div>
<!-- divs with padding just to create the visual space needed for the rest of the page -->
    </div>
  </div>
</div>

<!-- slanty state image thing -->
<div class="container-fluid bg-brand-primary-light slant-campuses ">
  <div class="row justify-content-center">
    <div class="col-11 ">
      <amp-img 
        src="/assets/img/state-transparent.png" 
        class="img-fluid my-5" 
        width="1200"
        height="120"
        alt="Responsive Image" 
        layout="responsive">
      </amp-img>
    </div>
  </div>
</div>

<!-- header for state list -->
<div class="container-fluid bg-white">
  <div class="row justify-content-center text-center mt-4 pb-3">
    <div class="col-10">
      <h1 class="text-primary m-0">
        Our Schools
      </h1>
    </div>
  </div>
</div>

<!-- the mess of containers for states -->

<!-- container for everything -->
<div class="container py-3 mb-5 justify-content-center">
  <!-- rows for each line -->
  <div class="row justify-content-center text-center m-0 p-0 ">
    <!-- the column to provide responsiveness -->
    <div class="col-md-6 m-0 p-0 small-shadow bg-white card-height pb-3">
      <!-- another container to do some tricks to have a header but also centered text -->
      <div class="container-fluid m-0 p-0 h-100">
        <!-- row for the header -->
        <div class="row p-0 m-0 justify-content-center">
          <h3 class="text-primary py-4 m-0">
            CENTRAL TEXAS
          </h3>
        </div>
        <!-- hack to have the header be at the top but the text dead center -->
        <!-- max-height does a calculation for the remaining size and adjusts properly  -->
        <div class="row p-0 m-0 flex-column max-height justify-content-center ">
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            New Braunfels Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Austin-North Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Austin-South Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Austin-Round Rock Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Austin-W. Braker Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Austin-Round Rock Medical</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Austin-Manor Medical</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            San Antonio-Converse Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            San Antonio-Northwest Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            San Antonio-Northwest Ortho</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Gonzales Medical</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Manor Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Temple Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Texas-Austin Dental</p>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6 m-0 p-0 small-shadow bg-brand-primary-light card-height pb-3">
      <div class="container-fluid m-0 p-0 h-100">
        <div class="row p-0 m-0 justify-content-center">
          <h3 class="text-primary py-4 m-0">
            EASTERN TEXAS
          </h3>
        </div>
        <div class="row p-0 m-0 flex-column max-height justify-content-center ">
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Beaumont Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            College Station Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            College Station Medical</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Houston-Katy Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Houston-South Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Lake Jackson Medical</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            League City Medical</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Nacogdoches Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Texas-Alvin Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Texas-Huntsville Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Tyler Dental</p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center text-center m-0 p-0 ">
    <!-- the column to provide responsiveness -->
    <div class="col-md-6 m-0 p-0 small-shadow bg-brand-primary-light card-height pb-3">
      <!-- another container to do some tricks to have a header but also centered text -->
      <div class="container-fluid m-0 p-0 h-100">
        <!-- row for the header -->
        <div class="row p-0 m-0 justify-content-center">
          <h3 class="text-primary py-4 m-0">
            NORTHERN TEXAS
          </h3>
        </div>
        <!-- hack to have the header be at the top but the text dead center -->
        <!-- max-height does a calculation for the remaining size and adjusts properly  -->
        <div class="row p-0 m-0 flex-column max-height justify-content-center ">
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Dallas-Plano Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Dallas-Uptown Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Dallas-Mesquite Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Fort Worth Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Granbury Medical</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Grapevine Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            McKinney Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Waco Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Wichita Falls Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Wichita Falls Medical</p>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6 m-0 p-0 small-shadow bg-white card-height pb-3">
      <div class="container-fluid m-0 p-0 h-100">
        <div class="row p-0 m-0 justify-content-center">
          <h3 class="text-primary py-4 m-0">
            SOUTHERN TEXAS
          </h3>
        </div>
        <div class="row p-0 m-0 flex-column max-height justify-content-center ">
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Corpus Christi Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Laredo Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Mission Medical</p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center text-center m-0 p-0 ">
    <!-- the column to provide responsiveness -->
    <div class="col-md-6 m-0 p-0 small-shadow bg-white card-height pb-3">
      <!-- another container to do some tricks to have a header but also centered text -->
      <div class="container-fluid m-0 p-0 h-100">
        <!-- row for the header -->
        <div class="row p-0 m-0 justify-content-center">
          <h3 class="text-primary py-4 m-0">
            WESTERN TEXAS
          </h3>
        </div>
        <!-- hack to have the header be at the top but the text dead center -->
        <!-- max-height does a calculation for the remaining size and adjusts properly  -->
        <div class="row p-0 m-0 flex-column max-height justify-content-center ">
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Abilene Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Abilene Medical</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Amarillo Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Amarillo Medical</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            El Paso Medical</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Lubbock Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Lubbock Medical</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Midland Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Odessa Dental</p>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6 m-0 p-0 small-shadow bg-brand-primary-light card-height pb-3">
      <div class="container-fluid m-0 p-0 h-100">
        <div class="row p-0 m-0 justify-content-center">
          <h3 class="text-primary py-4 m-0">
            ALABAMA
          </h3>
        </div>
        <div class="row p-0 m-0 flex-column max-height justify-content-center ">
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Tuscaloosa Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Birmingham Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Huntsville Medical</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Huntsville Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Little Rock Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Montgomery Dental</p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center text-center m-0 p-0 ">
    <!-- the column to provide responsiveness -->
    <div class="col-md-6 m-0 p-0 small-shadow bg-brand-primary-light card-height pb-3">
      <!-- another container to do some tricks to have a header but also centered text -->
      <div class="container-fluid m-0 p-0 h-100">
        <!-- row for the header -->
        <div class="row p-0 m-0 justify-content-center">
          <h3 class="text-primary py-4 m-0">
            ARIZONA
          </h3>
        </div>
        <!-- hack to have the header be at the top but the text dead center -->
        <!-- max-height does a calculation for the remaining size and adjusts properly  -->
        <div class="row p-0 m-0 flex-column max-height justify-content-center ">
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Phoenix Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Tucson Dental</p>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6 m-0 p-0 small-shadow bg-white card-height pb-3">
      <div class="container-fluid m-0 p-0 h-100">
        <div class="row p-0 m-0 justify-content-center">
          <h3 class="text-primary py-4 m-0">
            ARKANSAS
          </h3>
        </div>
        <div class="row p-0 m-0 flex-column max-height justify-content-center ">
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Fayetteville Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Searcy Dental</p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center text-center m-0 p-0 ">
    <!-- the column to provide responsiveness -->
    <div class="col-md-6 m-0 p-0 small-shadow bg-white card-height pb-3">
      <!-- another container to do some tricks to have a header but also centered text -->
      <div class="container-fluid m-0 p-0 h-100">
        <!-- row for the header -->
        <div class="row p-0 m-0 justify-content-center">
          <h3 class="text-primary py-4 m-0">
            COLORADO
          </h3>
        </div>
        <!-- hack to have the header be at the top but the text dead center -->
        <!-- max-height does a calculation for the remaining size and adjusts properly  -->
        <div class="row p-0 m-0 flex-column max-height justify-content-center ">
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Denver Dental</p>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6 m-0 p-0 small-shadow bg-brand-primary-light card-height pb-3">
      <div class="container-fluid m-0 p-0 h-100">
        <div class="row p-0 m-0 justify-content-center">
          <h3 class="text-primary py-4 m-0">
            FLORIDA
          </h3>
        </div>
        <div class="row p-0 m-0 flex-column max-height justify-content-center ">
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Gainesville Dental</p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center text-center m-0 p-0 ">
    <!-- the column to provide responsiveness -->
    <div class="col-md-6 m-0 p-0 small-shadow bg-brand-primary-light card-height pb-3">
      <!-- another container to do some tricks to have a header but also centered text -->
      <div class="container-fluid m-0 p-0 h-100">
        <!-- row for the header -->
        <div class="row p-0 m-0 justify-content-center">
          <h3 class="text-primary py-4 m-0">
            GEORGIA
          </h3>
        </div>
        <!-- hack to have the header be at the top but the text dead center -->
        <!-- max-height does a calculation for the remaining size and adjusts properly  -->
        <div class="row p-0 m-0 flex-column max-height justify-content-center ">
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Atlanta-Buckhead Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Atlanta-Marietta Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Augusta Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Dalton Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Savannah Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Valdosta Dental</p>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6 m-0 p-0 small-shadow bg-white card-height pb-3">
      <div class="container-fluid m-0 p-0 h-100">
        <div class="row p-0 m-0 justify-content-center">
          <h3 class="text-primary py-4 m-0">
            INDIANA
          </h3>
        </div>
        <div class="row p-0 m-0 flex-column max-height justify-content-center ">
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Franklin Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Indianapolis-Northeast Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Indianapolis-Avon Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Muncie Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            South Bend Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            St. John Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Terre Haute Dental</p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center text-center m-0 p-0 ">
    <!-- the column to provide responsiveness -->
    <div class="col-md-6 m-0 p-0 small-shadow bg-white card-height pb-3">
      <!-- another container to do some tricks to have a header but also centered text -->
      <div class="container-fluid m-0 p-0 h-100">
        <!-- row for the header -->
        <div class="row p-0 m-0 justify-content-center">
          <h3 class="text-primary py-4 m-0">
            ILLINOIS
          </h3>
        </div>
        <!-- hack to have the header be at the top but the text dead center -->
        <!-- max-height does a calculation for the remaining size and adjusts properly  -->
        <div class="row p-0 m-0 flex-column max-height justify-content-center ">
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Chicago Dental</p>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6 m-0 p-0 small-shadow bg-brand-primary-light card-height pb-3">
      <div class="container-fluid m-0 p-0 h-100">
        <div class="row p-0 m-0 justify-content-center">
          <h3 class="text-primary py-4 m-0">
            LOUISIANA
          </h3>
        </div>
        <div class="row p-0 m-0 flex-column max-height justify-content-center ">
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Alexandria Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Baton Rouge Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Lafayette Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Louisiana-Alexandria Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Louisiana-Baton Rouge Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            New Orleans Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Shreveport Dental</p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center text-center m-0 p-0 ">
    <!-- the column to provide responsiveness -->
    <div class="col-md-6 m-0 p-0 small-shadow bg-brand-primary-light card-height pb-3">
      <!-- another container to do some tricks to have a header but also centered text -->
      <div class="container-fluid m-0 p-0 h-100">
        <!-- row for the header -->
        <div class="row p-0 m-0 justify-content-center">
          <h3 class="text-primary py-4 m-0">
            NEVADA
          </h3>
        </div>
        <!-- hack to have the header be at the top but the text dead center -->
        <!-- max-height does a calculation for the remaining size and adjusts properly  -->
        <div class="row p-0 m-0 flex-column max-height justify-content-center ">
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Las Vegas-Charleston Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Las Vegas Medical</p>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6 m-0 p-0 small-shadow bg-white card-height pb-3">
      <div class="container-fluid m-0 p-0 h-100">
        <div class="row p-0 m-0 justify-content-center">
          <h3 class="text-primary py-4 m-0">
            NEW MEXICO
          </h3>
        </div>
        <div class="row p-0 m-0 flex-column max-height justify-content-center ">
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Albuquerque Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Las Cruces Dental</p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center text-center m-0 p-0 ">
    <!-- the column to provide responsiveness -->
    <div class="col-md-6 m-0 p-0 small-shadow bg-white card-height pb-3">
      <!-- another container to do some tricks to have a header but also centered text -->
      <div class="container-fluid m-0 p-0 h-100">
        <!-- row for the header -->
        <div class="row p-0 m-0 justify-content-center">
          <h3 class="text-primary py-4 m-0">
            NORTH CAROLINA
          </h3>
        </div>
        <!-- hack to have the header be at the top but the text dead center -->
        <!-- max-height does a calculation for the remaining size and adjusts properly  -->
        <div class="row p-0 m-0 flex-column max-height justify-content-center ">
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Charlotte Dental</p>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6 m-0 p-0 small-shadow bg-brand-primary-light card-height pb-3">
      <div class="container-fluid m-0 p-0 h-100">
        <div class="row p-0 m-0 justify-content-center">
          <h3 class="text-primary py-4 m-0">
            OKLAHOMA
          </h3>
        </div>
        <div class="row p-0 m-0 flex-column max-height justify-content-center ">
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Oklahoma City Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Tulsa Dental</p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center text-center m-0 p-0 ">
    <!-- the column to provide responsiveness -->
    <div class="col-md-6 m-0 p-0 small-shadow bg-brand-primary-light card-height pb-3">
      <!-- another container to do some tricks to have a header but also centered text -->
      <div class="container-fluid m-0 p-0 h-100">
        <!-- row for the header -->
        <div class="row p-0 m-0 justify-content-center">
          <h3 class="text-primary py-4 m-0">
            WASHINGTON
          </h3>
        </div>
        <!-- hack to have the header be at the top but the text dead center -->
        <!-- max-height does a calculation for the remaining size and adjusts properly  -->
        <div class="row p-0 m-0 flex-column max-height justify-content-center ">
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Bellingham Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Bremerton Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Centralia Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Lake Stevens Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Moses Lake Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Olympia Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Seattle-Ballard Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Spokane Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Wenatchee Dental</p>
          </a>
          <a class="text-primary align-self-center" href="">
            <p class="my-0">
            Tacoma Dental</p>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6 m-0 p-0 small-shadow bg-white card-height pb-3 ">
      <div class="container-fluid m-0 p-0 h-100">
        <div class="row p-0 m-0 justify-content-center">
        </div>
        <div class="row p-0 m-0 flex-column max-height justify-content-center ">
        
        </div>
      </div>
    </div>
  </div>
<!--Template to add more rows for more states

white row

<div class="row justify-content-center text-center m-0 p-0 ">
    <div class="col-md-6 m-0 p-0 small-shadow bg-white card-height pb-3">
      <div class="container-fluid m-0 p-0 h-100">
        <div class="row p-0 m-0 justify-content-center">
          *** header here***
        </div>
        <div class="row p-0 m-0 flex-column max-height justify-content-center ">
          *** a refs here***
        </div>
      </div>
    </div>
    <div class="col-md-6 m-0 p-0 small-shadow bg-brand-primary-light card-height pb-3">
      <div class="container-fluid m-0 p-0 h-100">
        <div class="row p-0 m-0 justify-content-center">
          *** header here***
        </div>
        <div class="row p-0 m-0 flex-column max-height justify-content-center ">
          *** a refs here***
        </div>
      </div>
    </div>
  </div>
grey row
<div class="row justify-content-center text-center m-0 p-0 ">
    <div class="col-md-6 m-0 p-0 small-shadow bg-brand-primary-light card-height pb-3">
      <div class="container-fluid m-0 p-0 h-100">
        <div class="row p-0 m-0 justify-content-center">
          *** header here***
        </div>
        <div class="row p-0 m-0 flex-column max-height justify-content-center ">          
          *** a refs here***
        </div>
      </div>
    </div>
    <div class="col-md-6 m-0 p-0 small-shadow bg-white card-height pb-3">
      <div class="container-fluid m-0 p-0 h-100">
        <div class="row p-0 m-0 justify-content-center">
        *** header here***
        </div>
        <div class="row p-0 m-0 flex-column max-height justify-content-center ">    
          *** a refs here***
        </div>
      </div>
    </div>
  </div> -->
</div>