---
layout: default
permalink: "/careers"
title: Careers
head_title: 'Careers'
description: ''
---

{% for _page in site.pages %}
  {% if _page.settings %}
    {% assign settings = _page %}
  {% endif %}
{% endfor %}

<div class="container-fluid bg-primary text-white pb-5 pt-4">
    <div class="row justify-content-center">
        <div class="col-9 mt-5 py-3 pt-5">
            <h2 class="card-title text-center font-weight-bold pt-5">MAKE AN IMPACT WITH US </h2>
        </div>
    </div>
    <div class="pl-5 pr-5 row justify-content-center ">
        <!-- when you need to add a third item, steal the flex container and column down to the stars and replace content-->
        <div class=" col-md-4 " >
            <div class="d-flex flex-column align-items-center justify-content-around">
                <img src="/assets/img/Montain_Climbing_Icon_White.png" class="align-middle w-50 img-fluid" alt="Our Values Heart Logo">
                <h3 class="text-center font-weight-bold m-0 text-close">Headquarters</h3>
                <h5 class="text-center font-weight-bold m-0 pb-3 text-close">in Cedar Park, Texas</h5>
                <p class="text-center">Out full-time team is dedicated to building a better future for education.</p>
                <div class="bg-white text-primary rounded px-2">
                    Apply
                </div>
            </div>
        </div>
        <!-- needs to move as a group, so the internal flex in column form keeps them all together and spaced correctly -->
        <!-- **** -->
        <div class=" col-md-4 " >
            <div class="d-flex flex-column align-items-center justify-content-around h-100">
                <img src="/assets/img/Montain_Climbing_Icon_White.png" class="align-middle  w-50 img-fluid" alt="Our Values Heart Logo">
                <h3 class="text-center font-weight-bold m-0 text-close pb-3 ">Schools</h3>
                <p class="text-center">Our devoted instructors and representatives are the boots on the ground that make our mission possible.</p>
                <div class="bg-white text-primary rounded px-2">
                    Apply
                </div>
            </div>
        </div>
    </div>
</div>