---
layout: default
permalink: '/host-a-school'
title: Host a School
head_title: 'Host a School'
description: ''
amp_components: 
- amp-accordion
- amp-bind
- amp-list
- amp-mustach
- amp-iframe
---

{% for _page in site.pages %} 
{% if _page.settings %} 
{% assign settings = _page %} 
{% endif %} 
{% endfor %}

<style amp-custom>
           
  #goTabs {
    width: 100%;
    height: 38px;
    box-sizing: border-box;
    font-size: 22px;
    line-height: 26px;
    margin: 0px;    
    color: #fff;
    justify-content: center;
    border: 1px solid #fff;
  }
  

  #goTabs button {

    width: 100%;
    padding: 5px 20px;

    color:#fff;
    font-size: 18px;
    line-height: 26px;
    margin:0;
    cursor: pointer;
    border: 1px solid #fff;
  }

  #goTabs button.active, #goTabs button:hover {
    background-color: rgb(35,53,110);
  }

  #goTabs button.inactive {
    background-color: #fff;
    color: rgb(35,53,110);

  }

  #dental {
    width:100%;
    height:470px;
    box-sizing:border-box;

  }
  #dental iframe {
    min-height: 470px;
    position: relative;
    
    }

  #medical {
    width: 100%;
    height: 470px;
    box-sizing:border-box;
  }
  #medical iframe {
    min-height: 470px;
    position: relative;
    
    }
  
  .show {
    display: block;
  }

  .hide {
    display: none;
  }

</style>

<!-- The following script is used to navigate the tabs Dental and Medical. It sets the class names used for the tabs and the tabbed content.  -->
<amp-state id="theTabs">
  <script type="application/json">
    {
      "dental": {
        "dentalTab": "active",
        "medicalTab": "inactive",
        "dental": "show",
        "medical": "hide"
      },
      "medical": {
        "dentalTab": "inactive",
        "medicalTab": "active",
        "dental": "hide",
        "medical": "show"
      }
    }
  </script>
</amp-state>


<section>
  <div class="bg-primary container-fluid p-5" style="height: 96vh">
    <div class="row">
      <div class="col-12 mtt-title">
        <h2 class="text-center text-white mt-4 pt-3">ELEVATE YOUR PRACTICE</h2>
      </div>
    </div>

    <div class="row mt-1 justify-content-center">
      <div class="col-sm-12 col-md-8 p-0">
        <div class="bg-white">

<!-- The tabbed content (two DIV elements, each with a unique id (dental, medical)) starts here -->
<div id="dental"  class="contentbox show" [class]="theTabs[currentTab].dental">
  <amp-iframe sandbox="allow-scripts allow-same-origin" layout="responsive" frameborder="0" src="https://www.youtube.com/embed/VugSPLUVRPU" width="520" height="500" allowfullscreen><amp-img src="https://static.wixstatic.com/media/d053d3_70fa1c452b474205b211644150340695~mv2.png/v1/fill/w_1534,h_164,al_c,q_85,usm_0.66_1.00_0.01/d053d3_70fa1c452b474205b211644150340695~mv2.webp" class="img-fluid" width="auto" height="200" placeholder></amp-img></amp-iframe>
  </div>

  <div id="medical" class="contentbox hide" [class]="theTabs[currentTab].medical">
  <!-- The placeholder image is required in order to put the iframe this close to the top of the page -->
    <amp-iframe sandbox="allow-scripts allow-same-origin" layout="responsive" frameborder="0" src="https://www.youtube.com/embed/VugSPLUVRPU" width="496" height="500" allowfullscreen><amp-img src="https://static.wixstatic.com/media/d053d3_70fa1c452b474205b211644150340695~mv2.png/v1/fill/w_1534,h_164,al_c,q_85,usm_0.66_1.00_0.01/d053d3_70fa1c452b474205b211644150340695~mv2.webp" class="img-fluid" width="auto" height="200" placeholder></amp-img></amp-iframe>
  </div>

<!-- These are the tabs the user clicks to view content in the different tabs. This features uses AMP-bind -->
<div class="row justify-content-between" id="goTabs">
  <div class="col-6 p-0">
    <button id="goDental" on="tap:AMP.setState({ currentTab: 'dental' })" class="active" [class]="theTabs[currentTab].dentalTab"> Dental </button>
  </div>
  <div class="col-6 p-0">
    <button id="goMedical" on="tap:AMP.setState({ currentTab: 'medical' })" class="inactive" [class]="theTabs[currentTab].medicalTab"> Medical </button>
  </div>
</div>

</div> 



        </div>
      </div>

      <div class="row justify-content-center pt-2">
        <div class="col-12 text-center">
          <a href="#bottom">
            <button type="button" class="btn btn-secondary btn-lg p-0"><h3 class="pt-4 px-2">SCHEDULE AN APPOINTMENT</h3></button>

          </a>
            
        </div>
      </div>

    </div>

</section>

<section>
  <div
    class="container-fluid py-4 footer bg-brand-primary-light slant-spacer"
  >
  <div class="row p-5">
    <div class="col-12 mtt-title">
      <h2 class="text-center text-primary pt-5">No Investment</h2>
      <h3 class="text-center text-primary">Low Commitment</h3>
    </div>
  </div>
</div>
</section>

<!-- WHY HOST A SCHOOL -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 mtt-title">
        <h2 class="text-center text-primary pb-5">WHY HOST A SCHOOL</h2>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 p-4 pb-5 fifty-bg-dark">
        <h3 class="text-primary">Earn Passive Income</h3>
        <p class="lead font-weight-bold">
          We partner with existing dental and medical practices and utilize
          their spae on weekends, while it is not in use, to operate our
          assistant schools. This generates passive income for our partnering
          locations while providing convenient class times for our students.
        </p>
      </div>

      <div class="col-md-6 p-4 pb-5 bg-white">
        <h3 class="text-primary">We Make It Easy</h3>
        <p class="lead font-weight-bold">Hands-off / Transparency</p>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-6 p-4 pb-5 bg-white">
        <h3 class="text-primary">We Handle Everything</h3>
        <p class="lead font-weight-bold">
          We known that your practice comes first, which is why we handle all
          school operations and work around your schedule so there are no
          disruptions to your practice and staff.
        </p>
      </div>

      <div class="col-md-6 p-4 pb-5 fifty-bg-dark">
        <h3 class="text-primary">High Standards</h3>
        <p class="lead font-weight-bold">
          We hold our staff and students to a very high academic standard, which
          results in well-trained and confident assistants. We believe that
          hands-on practice and repetition in medical professions produce the
        </p>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-6 p-4 pb-5 fifty-bg-dark">
        <h3 class="text-primary">Community-Driven</h3>
        <p class="lead font-weight-bold">
          We known that your practice comes first, which is why we handle all
          school operations and work around your schedule so there are no
          disruptions to your practice and staff.
        </p>
      </div>

      <div class="col-md-6 p-4 pb-5 bg-white">
        <h3 class="text-primary">Source of New Talent</h3>
        <p class="lead font-weight-bold">
          Our goal in hosting a school with We are a community-driven
          organization that is focused on creating the most well-trained
          assistants that can find jobs and benefit the employers in each local
          community.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- HOW IT WORKS SLANT SECTION -->
<section>
  <div
    class="container-fluid py-4 footer bg-brand-primary-dark slant-how-it-works"
  >
    <div class="row p-5">
      <div class="col-12 text-white mtt-title">
        <h2 class="text-center text-white pt-5">HOW IT WORKS</h2>
        <h3>Our ideal partner practice has: Closed on Sat/Sun</h3>
      </div>
    </div>
  </div>
</section>

<!-- CONTACT US FORM SECTION -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 mtt-title">
        <a name="bottom">
          <h2 class="text-center text-primary pb-5">CONTACT US</h2>
        </a>
      </div>
    </div>
  </div>

  <div class="container form-group form-group-lg">
    <div class="row justify-content-center">
      <div class="col-md-5 p-2">
        <input
          type="text"
          class="form-control input-lg rounded-0 border border-dark"
          placeholder="First Name"
        />
      </div>
      <div class="col-md-5 p-2">
        <input
          type="text"
          class="form-control input-lg rounded-0 border border-dark"
          placeholder="Last Name"
        />
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-5 p-2">
        <input
          type="text"
          class="form-control input-lg rounded-0 border border-dark"
          placeholder="First Name"
        />
      </div>
      <div class="col-md-5 p-2">
        <input
          type="text"
          class="form-control input-lg rounded-0 border border-dark"
          placeholder="Last Name"
        />
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-5 p-2">
        <input
          type="text"
          class="form-control input-lg rounded-0 border border-dark"
          placeholder="First Name"
        />
      </div>
      <div class="col-md-5 p-2">
        <input
          type="text"
          class="form-control input-lg rounded-0 border border-dark"
          placeholder="Last Name"
        />
      </div>
    </div>
  </div>
</section>
