---
layout: default
permalink: '/host-a-school'
title: Host a School
head_title: 'Host a School'
description: ''
---

{% for _page in site.pages %}
  {% if _page.settings %}
    {% assign settings = _page %}
  {% endif %}
{% endfor %}

<section>

    <div class="bg-primary container-fluid p-5" style="height: 80vh">


      <div class="row mt-5 justify-content-center">
          <div class="col-sm-12 col-md-8 col-xl-6 p-0 border border-white">
            <div class="bg-white">
              <div class="row justify-content-center">
                <div class="col-6 text-center align-self-center"><h3 class="text-primary">Dental</h3></div>
                <div class="col-6 text-center bg-primary"><h3 class="text-white">Medical</h3></div>
              </div>

              <div class="row justify-content-center">
                <div class="col-12 p-0 text-center">
                  
                  <iframe class="col" height="500vh" src="https://www.youtube.com/embed/VugSPLUVRPU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                </div>

              </div>

          </div>
        </div>
      </div>
    </div>
  </section>

<section>
  <div class="container-fluid py-4 footer bg-brand-primary-light slant-spacer">
    </div>
</section>


<!-- WHY HOST A SCHOOL -->
<section>
  <div class="container">
    <div class="row">
    <div class="col-12 mtt-title">
    <h2 class="text-center text-primary pb-5">WHY HOST A SCHOOL</h2>
    </div>
    </div>
      </div>

      <div class="container">

        <div class="row justify-content-center">
          <div class="col-md-6 p-4 pb-5 fifty-bg-dark">
                <h3 class="text-primary">Earn Passive Income</h3>
                <p class="lead font-weight-bold">We partner with existing dental and medical practices and utilize their spae on weekends, while it is not in use, to operate our assistant schools. This generates passive income for our partnering locations while providing convenient class times for our students.</p>
          </div>

          <div class="col-md-6 p-4 pb-5 bg-white">
                <h3 class="text-primary">We Make It Easy</h3>
                <p class="lead font-weight-bold">Hands-off / Transparency</p>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-md-6 p-4 pb-5 bg-white">
                <h3 class="text-primary">We Handle Everything</h3>
                <p class="lead font-weight-bold">We known that your practice comes first, which is why we handle all school operations and work around your schedule so there are no disruptions to your practice and staff.</p>
          </div>

          <div class="col-md-6 p-4 pb-5 fifty-bg-dark">
                <h3 class="text-primary">High Standards</h3>
                <p class="lead font-weight-bold">We hold our staff and students to a very high academic standard, which results in well-trained and confident assistants. We believe that hands-on practice and repetition in medical professions produce the </p>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-md-6 p-4 pb-5 fifty-bg-dark">
                <h3 class="text-primary">Community-Driven</h3>
                <p class="lead font-weight-bold">We known that your practice comes first, which is why we handle all school operations and work around your schedule so there are no disruptions to your practice and staff.</p>
          </div>

          <div class="col-md-6 p-4 pb-5 bg-white">
                <h3 class="text-primary">Source of New Talent</h3>
                <p class="lead font-weight-bold">Our goal in hosting a school with We are a community-driven organization that is focused on creating the most well-trained assistants that can find jobs and benefit the employers in each local community.</p>
          </div>
        </div>

      </div>

</section>


<!-- HOW IT WORKS SLANT SECTION -->
<section>
<div class="container-fluid py-4 footer bg-brand-primary-dark slant-how-it-works">
  <div class="row p-4">
    <div class="col-12 text-white mtt-title">
    <h2 class="text-center text-white pt-5">HOW IT WORKS</h2>
    <h3>Our ideal partner practice has: Closed on Sat/Sun</h3>
    </div>
    </div>
</div>
</section>

<!-- CONTACT US FORM SECTION -->
<section>
  <div class="container">
    <div class="row">
    <div class="col-12 mtt-title">
    <h2 class="text-center text-primary pb-5">CONTACT US</h2>
    </div>
    </div>
      </div>

      <div class="container form-group form-group-lg">
        <div class="row justify-content-center">
          <div class="col-md-5 p-2">
            <input type="text" class="form-control input-lg rounded-0 border border-dark" placeholder="First Name">
          </div>
          <div class="col-md-5 p-2">
            <input type="text" class="form-control input-lg rounded-0 border border-dark" placeholder="Last Name">
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-md-5 p-2">
            <input type="text" class="form-control input-lg rounded-0 border border-dark" placeholder="First Name">
          </div>
          <div class="col-md-5 p-2">
            <input type="text" class="form-control input-lg rounded-0 border border-dark" placeholder="Last Name">
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-md-5 p-2">
            <input type="text" class="form-control input-lg rounded-0 border border-dark" placeholder="First Name">
          </div>
          <div class="col-md-5 p-2">
            <input type="text" class="form-control input-lg rounded-0 border border-dark" placeholder="Last Name">
          </div>
        </div>

      </div>


</section>

