---
layout: default
permalink: '/meet-our-team/'
title: Meet Our Team
head_title: 'Meet Our Team'
description: ''
---

{% for _page in site.pages %}
  {% if _page.settings %}
    {% assign settings = _page %}
  {% endif %}
{% endfor %}

<section>
  <div class="mtt-hero-image" style="background-image: url('assets/img/hero-image-placeholder-screenshot.png');"></div>
  <div class="slant-box">
    <div class="slant-box-text">
      <h3><span>VANDEFAM</span> van-de-fam\vaendefam\n.</h3>
      <p>
        1. Employees at Vandelay Education LLC. 2. A community of
        hard-work-ing, adaptable, fun, self-motivated, and creative team
        members. 3. People who love the enriching work that they do and the
        people they work with. 4. Rukusmakers who are proud to disrupt the
        for-profit education industry. 5. A group of chronic coffee drinkers
        that cannot resist petting every dog within reach.
      </p>
    </div>
  </div>
</section>

<!-- Randomize Photos -->
<section>
  <div class="container">
<div class="row">
<div class="col-12 mtt-title">
<h2 class="text-center pb-5">Meet Our Team</h2>
</div>
</div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3 p-2">
        <div class="funny-switch">
          <img src="assets/img/PHOTOS - Headshots/AishaMain_Edit.jpg" class="img-fluid img-main" alt="Responsive Image">
          <img src="assets/img/PHOTOS - Headshots/AishaFunny_Edit.jpg" class="img-fluid img-funny" alt="Responsive Image">
          <div class="image-info">
            <h4>Aisha Boone</h4>
            <p>Regional Director</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 p-2">
        <div class="funny-switch">
          <img src="assets/img/PHOTOS - Headshots/AshleeMain_Edit.jpg" class="img-fluid img-main" alt="Responsive Image">
          <img src="assets/img/PHOTOS - Headshots/AshleeFunny_Edit.jpg" class="img-fluid img-funny" alt="Responsive Image">
          <div class="image-info">
            <h4>Ashlee Barrera</h4>
            <p>Business Development Associate</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 p-2">
        <div class="funny-switch">
          <img src="assets/img/PHOTOS - Headshots/CarlaMain_Edit.jpg" class="img-fluid img-main" alt="Responsive Image">
          <img src="assets/img/PHOTOS - Headshots/CarlaFunny_Edit.jpg" class="img-fluid img-funny" alt="Responsive Image">
          <div class="image-info">
            <h4>Carla Tarpley</h4>
            <p>Regional Trainer</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 p-2">
        <div class="funny-switch">
          <img src="assets/img/PHOTOS - Headshots/CharreaseMain_Edit.jpg" class="img-fluid img-main" alt="Responsive Image">
          <img src="assets/img/PHOTOS - Headshots/CharreaseFunny_Edit.jpg" class="img-fluid img-funny" alt="Responsive Image">
          <div class="image-info">
            <h4>Charrease Oliver</h4>
            <p>Regional Trainer</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 p-2">
        <div class="funny-switch">
          <img src="assets/img/PHOTOS - Headshots/EmilyMain_Edit.jpg" class="img-fluid img-main" alt="Responsive Image">
          <img src="assets/img/PHOTOS - Headshots/EmilyFunny_Edit.jpg" class="img-fluid img-funny" alt="Responsive Image">
          <div class="image-info">
            <h4>Emily Curnutte</h4>
            <p>Regional Director</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 p-2">
        <div class="funny-switch">
          <img src="assets/img/PHOTOS - Headshots/GabiMain_Edit.jpg" class="img-fluid img-main" alt="Responsive Image">
          <img src="assets/img/PHOTOS - Headshots/GabiFunny_Edit.jpg" class="img-fluid img-funny" alt="Responsive Image">
          <div class="image-info">
            <h4>Gabrielle Siegel</h4>
            <p>Social Media &amp; Admissions Specialist</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 p-2">
        <div class="funny-switch">
          <img src="assets/img/PHOTOS - Headshots/GenaMain_Edit.jpg" class="img-fluid img-main" alt="Responsive Image">
          <img src="assets/img/PHOTOS - Headshots/GenaFunny_Edit.jpg" class="img-fluid img-funny" alt="Responsive Image">
          <div class="image-info">
            <h4>Gena Flynn</h4>
            <p>Regional Trainer</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 p-2">
        <div class="funny-switch">
          <img src="assets/img/PHOTOS - Headshots/HayleeMain_Edit.jpg" class="img-fluid img-main" alt="Responsive Image">
          <img src="assets/img/PHOTOS - Headshots/HayleeFunny_Edit.jpg" class="img-fluid img-funny" alt="Responsive Image">
          <div class="image-info">
            <h4>Haylee Stephens</h4>
            <p>Regional Director</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 p-2">
        <div class="funny-switch">
          <img src="assets/img/PHOTOS - Headshots/JosephMain_Edit.jpg" class="img-fluid img-main" alt="Responsive Image">
          <img src="assets/img/PHOTOS - Headshots/JosephFunny_Edit.jpg" class="img-fluid img-funny" alt="Responsive Image">
          <div class="image-info">
            <h4>Joseph Esquivel</h4>
            <p>Social Media &amp; Admissions Specialist</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 p-2">
        <div class="funny-switch">
          <img src="assets/img/PHOTOS - Headshots/JoshuaMain_Edit.jpg" class="img-fluid img-main" alt="Responsive Image">
          <img src="assets/img/PHOTOS - Headshots/JoshuaFunny_Edit.jpg" class="img-fluid img-funny" alt="Responsive Image">
          <div class="image-info">
            <h4>Joshua Neely</h4>
            <p>Student Success Specialist</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 p-2">
        <div class="funny-switch">
          <img src="assets/img/PHOTOS - Headshots/JustinMain_Edit.jpg" class="img-fluid img-main" alt="Responsive Image">
          <img src="assets/img/PHOTOS - Headshots/JustinFunny_Edit.jpg" class="img-fluid img-funny" alt="Responsive Image">
          <div class="image-info">
            <h4>Justin Sandoval</h4>
            <p>Social Media &amp; Admissions Specialist</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 p-2">
        <div class="funny-switch">
          <img src="assets/img/PHOTOS - Headshots/KaitlinMain_Edit.jpg" class="img-fluid img-main" alt="Responsive Image">
          <img src="assets/img/PHOTOS - Headshots/KaitlinFunny_Edit.jpg" class="img-fluid img-funny" alt="Responsive Image">
          <div class="image-info">
            <h4>Kaitlin Mottola</h4>
            <p>Director of Smarketing</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 p-2">
        <div class="funny-switch">
          <img src="assets/img/PHOTOS - Headshots/KaraMain_Edit.jpg" class="img-fluid img-main" alt="Responsive Image">
          <img src="assets/img/PHOTOS - Headshots/KaraFunny_Edit.jpg" class="img-fluid img-funny" alt="Responsive Image">
          <div class="image-info">
            <h4>Kara Miller</h4>
            <p>Student Success Specialist</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 p-2">
        <div class="funny-switch">
          <img src="assets/img/PHOTOS - Headshots/KarenMain_Edit.jpg" class="img-fluid img-main" alt="Responsive Image">
          <img src="assets/img/PHOTOS - Headshots/KarenFunny_Edit.jpg" class="img-fluid img-funny" alt="Responsive Image">
          <div class="image-info">
            <h4>Karen Galarza</h4>
            <p>Regional Trainer</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 p-2">
        <div class="funny-switch">
          <img src="assets/img/PHOTOS - Headshots/KatyRMain_Edit.jpg" class="img-fluid img-main" alt="Responsive Image">
          <img src="assets/img/PHOTOS - Headshots/KatyRFunny_Edit.jpg" class="img-fluid img-funny" alt="Responsive Image">
          <div class="image-info">
            <h4>Katy Ross</h4>
            <p>Regional Director</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 p-2">
        <div class="funny-switch">
          <img src="assets/img/PHOTOS - Headshots/KelseyJMain_Edit.jpg" class="img-fluid img-main" alt="Responsive Image">
          <img src="assets/img/PHOTOS - Headshots/KelseyJFunny_Edit.jpg" class="img-fluid img-funny" alt="Responsive Image">
          <div class="image-info">
            <h4>Kelsey Jackson</h4>
            <p>Student Success Specialist</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 p-2">
        <div class="funny-switch">
          <img src="assets/img/PHOTOS - Headshots/KelseyUMain_Edit.jpg" class="img-fluid img-main" alt="Responsive Image">
          <img src="assets/img/PHOTOS - Headshots/KelseyUFunny_Edit.jpg" class="img-fluid img-funny" alt="Responsive Image">
          <div class="image-info">
            <h4>Kelsey Underwood</h4>
            <p>Office Administrator</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 p-2">
        <div class="funny-switch">
          <img src="assets/img/PHOTOS - Headshots/KennaMain_Edit.jpg" class="img-fluid img-main" alt="Responsive Image">
          <img src="assets/img/PHOTOS - Headshots/KennaFunny_Edit.jpg" class="img-fluid img-funny" alt="Responsive Image">
          <div class="image-info">
            <h4>Kenna Wright</h4>
            <p>Regional Director</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 p-2">
        <div class="funny-switch">
          <img src="assets/img/PHOTOS - Headshots/KimSMain_Edit.jpg" class="img-fluid img-main" alt="Responsive Image">
          <img src="assets/img/PHOTOS - Headshots/KimSFunny_Edit.jpg" class="img-fluid img-funny" alt="Responsive Image">
          <div class="image-info">
            <h4>Kimberly Simmons</h4>
            <p>Social Media &amp; Admissions Specialist</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 p-2">
        <div class="funny-switch">
          <img src="assets/img/PHOTOS - Headshots/KristalMain_Edit.jpg" class="img-fluid img-main" alt="Responsive Image">
          <img src="assets/img/PHOTOS - Headshots/KristalFunny_Edit.jpg" class="img-fluid img-funny" alt="Responsive Image">
          <div class="image-info">
            <h4>Kristal Alcazar</h4>
            <p>Student Success Specialist</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 p-2">
        <div class="funny-switch">
          <img src="assets/img/PHOTOS - Headshots/KristenMain_Edit.jpg" class="img-fluid img-main" alt="Responsive Image">
          <img src="assets/img/PHOTOS - Headshots/KristenFunny_Edit.jpg" class="img-fluid img-funny" alt="Responsive Image">
          <div class="image-info">
            <h4>Kristen Scarlett</h4>
            <p>Regional Director</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 p-2">
        <div class="funny-switch">
          <img src="assets/img/PHOTOS - Headshots/LarryMain_Edit.jpg" class="img-fluid img-main" alt="Responsive Image">
          <img src="assets/img/PHOTOS - Headshots/LarryFunny_Edit.jpg" class="img-fluid img-funny" alt="Responsive Image">
          <div class="image-info">
            <h4>Larry Wilson</h4>
            <p>Business Development Associate</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 p-2">
        <div class="funny-switch">
          <img src="assets/img/PHOTOS - Headshots/LauraMain_Edit.jpg" class="img-fluid img-main" alt="Responsive Image">
          <img src="assets/img/PHOTOS - Headshots/LauraFunny_Edit.jpg" class="img-fluid img-funny" alt="Responsive Image">
          <div class="image-info">
            <h4>Laura Colten</h4>
            <p>Technology Intern</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 p-2">
        <div class="funny-switch">
          <img src="assets/img/PHOTOS - Headshots/LaurenMain_Edit.jpg" class="img-fluid img-main" alt="Responsive Image">
          <img src="assets/img/PHOTOS - Headshots/LaurenFunny_Edit.jpg" class="img-fluid img-funny" alt="Responsive Image">
          <div class="image-info">
            <h4>Lauren Spittler</h4>
            <p>Training &amp; Development Specialist</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 p-2">
        <div class="funny-switch">
          <img src="assets/img/PHOTOS - Headshots/LindseyYMain_Edit.jpg" class="img-fluid img-main" alt="Responsive Image">
          <img src="assets/img/PHOTOS - Headshots/LindseyYFunny_Edit.jpg" class="img-fluid img-funny" alt="Responsive Image">
          <div class="image-info">
            <h4>Lindsey Yates</h4>
            <p>Regional Trainer</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 p-2">
        <div class="funny-switch">
          <img src="assets/img/PHOTOS - Headshots/LizzieMain_Edit.jpg" class="img-fluid img-main" alt="Responsive Image">
          <img src="assets/img/PHOTOS - Headshots/LizzieFunny_Edit.jpg" class="img-fluid img-funny" alt="Responsive Image">
          <div class="image-info">
            <h4>Lizzie Schott</h4>
            <p>Regional Lead</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 p-2">
        <div class="funny-switch">
          <img src="assets/img/PHOTOS - Headshots/LyFondaMain_Edit.jpg" class="img-fluid img-main" alt="Responsive Image">
          <img src="assets/img/PHOTOS - Headshots/LyFondaFunny_Edit.jpg" class="img-fluid img-funny" alt="Responsive Image">
          <div class="image-info">
            <h4>LyFonda Morris</h4>
            <p>Director of Dental Programs</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 p-2">
        <div class="funny-switch">
          <img src="assets/img/PHOTOS - Headshots/MackenzieMain_Edit.jpg" class="img-fluid img-main" alt="Responsive Image">
          <img src="assets/img/PHOTOS - Headshots/MackenzieFunny_Edit.jpg" class="img-fluid img-funny" alt="Responsive Image">
          <div class="image-info">
            <h4>Mackenzie Knight</h4>
            <p>Lead Regional Trainer</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 p-2">
        <div class="funny-switch">
          <img src="assets/img/PHOTOS - Headshots/MistyMain_Edit.jpg" class="img-fluid img-main" alt="Responsive Image">
          <img src="assets/img/PHOTOS - Headshots/MistyFunny_Edit.jpg" class="img-fluid img-funny" alt="Responsive Image">
          <div class="image-info">
            <h4>Misty Underwood</h4>
            <p>Director of Medical Programs</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 p-2">
        <div class="funny-switch">
          <img src="assets/img/PHOTOS - Headshots/PeteMain_Edit.jpg" class="img-fluid img-main" alt="Responsive Image">
          <img src="assets/img/PHOTOS - Headshots/PeteFunny_Edit.jpg" class="img-fluid img-funny" alt="Responsive Image">
          <div class="image-info">
            <h4>Pete Gilkey</h4>
            <p>Director of Compliance</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 p-2">
        <div class="funny-switch">
          <img src="assets/img/PHOTOS - Headshots/RanaMain_Edit.jpg" class="img-fluid img-main" alt="Responsive Image">
          <img src="assets/img/PHOTOS - Headshots/RanaFunny_Edit.jpg" class="img-fluid img-funny" alt="Responsive Image">
          <div class="image-info">
            <h4>Rana Johnson</h4>
            <p>Regional Director</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 p-2">
        <div class="funny-switch">
          <img src="assets/img/PHOTOS - Headshots/RebeccaMain_Edit.jpg" class="img-fluid img-main" alt="Responsive Image">
          <img src="assets/img/PHOTOS - Headshots/RebeccaFunny_Edit.jpg" class="img-fluid img-funny" alt="Responsive Image">
          <div class="image-info">
            <h4>Rebecca Voss</h4>
            <p>Regional Trainer</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 p-2">
        <div class="funny-switch">
          <img src="assets/img/PHOTOS - Headshots/ReShandaMain_Edit.jpg" class="img-fluid img-main" alt="Responsive Image">
          <img src="assets/img/PHOTOS - Headshots/ReShandaFunny_Edit.jpg" class="img-fluid img-funny" alt="Responsive Image">
          <div class="image-info">
            <h4>ReShanda Fry</h4>
            <p>Regional Trainer</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 p-2">
        <div class="funny-switch">
          <img src="assets/img/PHOTOS - Headshots/RobinRMain_Edit.jpg" class="img-fluid img-main" alt="Responsive Image">
          <img src="assets/img/PHOTOS - Headshots/RobinRFunny_Edit.jpg" class="img-fluid img-funny" alt="Responsive Image">
          <div class="image-info">
            <h4>Robin Rocha</h4>
            <p>Regional Director</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 p-2">
        <div class="funny-switch">
          <img src="assets/img/PHOTOS - Headshots/RobinWMain_Edit.jpg" class="img-fluid img-main" alt="Responsive Image">
          <img src="assets/img/PHOTOS - Headshots/RobinWFunny_Edit.jpg" class="img-fluid img-funny" alt="Responsive Image">
          <div class="image-info">
            <h4>Robin Wilson</h4>
            <p>Regional Trainer</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 p-2">
        <div class="funny-switch">
          <img src="assets/img/PHOTOS - Headshots/SamMain_Edit.jpg" class="img-fluid img-main" alt="Responsive Image">
          <img src="assets/img/PHOTOS - Headshots/SamFunny_Edit.jpg" class="img-fluid img-funny" alt="Responsive Image">
          <div class="image-info">
            <h4>Sam Gilkey</h4>
            <p>CEO</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 p-2">
        <div class="funny-switch">
          <img src="assets/img/PHOTOS - Headshots/ShannonMain_Edit.jpg" class="img-fluid img-main" alt="Responsive Image">
          <img src="assets/img/PHOTOS - Headshots/ShannonFunny_Edit.jpg" class="img-fluid img-funny" alt="Responsive Image">
          <div class="image-info">
            <h4>Shannon Young</h4>
            <p>Digital Marketing Specialist</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 p-2">
        <div class="funny-switch">
          <img src="assets/img/PHOTOS - Headshots/SkylerMain_Edit.jpg" class="img-fluid img-main" alt="Responsive Image">
          <img src="assets/img/PHOTOS - Headshots/SkylerFunny_Edit.jpg" class="img-fluid img-funny" alt="Responsive Image">
          <div class="image-info">
            <h4>Skyler Highsmith</h4>
            <p>Regional Lead</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 p-2">
        <div class="funny-switch">
          <img src="assets/img/PHOTOS - Headshots/StacyHMain_Edit.jpg" class="img-fluid img-main" alt="Responsive Image">
          <img src="assets/img/PHOTOS - Headshots/StacyHFunny_Edit.jpg" class="img-fluid img-funny" alt="Responsive Image">
          <div class="image-info">
            <h4>Stacy Hare</h4>
            <p>Regional Trainer</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 p-2">
        <div class="funny-switch">
          <img src="assets/img/PHOTOS - Headshots/StacyRMain_Edit.jpg" class="img-fluid img-main" alt="Responsive Image">
          <img src="assets/img/PHOTOS - Headshots/StacyRFunny_Edit.jpg" class="img-fluid img-funny" alt="Responsive Image">
          <div class="image-info">
            <h4>Stacy Rose</h4>
            <p>Regional Lead</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 p-2">
        <div class="funny-switch">
          <img src="assets/img/PHOTOS - Headshots/TevinMain_Edit.jpg" class="img-fluid img-main" alt="Responsive Image">
          <img src="assets/img/PHOTOS - Headshots/TevinFunny_Edit.jpg" class="img-fluid img-funny" alt="Responsive Image">
          <div class="image-info">
            <h4>Tevin Foster</h4>
            <p>Director of Student Services</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 p-2">
        <div class="funny-switch">
          <img src="assets/img/PHOTOS - Headshots/TrazielMain_Edit.jpg" class="img-fluid img-main" alt="Responsive Image">
          <img src="assets/img/PHOTOS - Headshots/TrazielFunny_Edit.jpg" class="img-fluid img-funny" alt="Responsive Image">
          <div class="image-info">
            <h4>Traziel Jones</h4>
            <p>Regional Trainer</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>