{% for _page in site.pages %}
{% if _page.settings %}
{% assign settings = _page %}
{% endif %}
{% endfor %}
<footer>
  <div class="container-fluid py-4 footer bg-brand-primary-light slant-footer">

    <div class="row footer-content mt-5 pt-5">
      <div class="col-12 col-md-4 mt-5 pt-3">
        <p class="lead font-weight-bold">ADDRESS</p>
        <ul>
          <li><p>1335 E. Whitestone Blvd, Suite 100</p></li>
          <li><p>Cedar Park, Texas, 78613</p></li>
        </ul>
      </div>
      <div class="col-12 col-md-4 mt-5 pt-3">
        <p class="lead font-weight-bold">CONTACT US</p>
        <ul>
          <li><p><a href="tel:512-259-2100">(512)259-2100</a></p></li>
          <br>
          <li><p><a href="{{ settings.email }}">info@vandelayeducation.com</a></p></li>
        </ul>
      </div>
      <div class="col-12 col-md-3 mt-5 pt-5">
        <ul>
          <li>
            <button class="btn btn-icon btn-round btn-facebook">
              <a href="{{ settings.facebook }}">
                <i class="fa fa-facebook"> </i>
              </a>
            </button>
          </li>
          <li>
            <button class="btn btn-icon btn-round btn-instagram">
              <a href="{{ settings.instagram }}">
                <i class="fa fa-instagram"> </i>
              </a>
            </button>
          </li>
          <li>
            <button class="btn btn-icon btn-round btn-linkedin">
              <a href="{{ settings.linkedin }}">
                <i class="fa fa-linkedin"> </i>
              </a>
            </button>

          </li>
        </ul>
      </div>
    </div>
    <div class="text-left ml-5">
      <small class="text-muted">
        Copyright © {{ site.time | date: '%Y' }} {{ settings.footer_text | liquify }}
      </small>
    </div>
  </div>
</footer>