{% for _page in site.pages %} 
{% if _page.settings %} 
{% assign settings = _page %} 
{% endif %} 
{% endfor %}

<div class="container py-4">
  <div class="row justify-content-center">
    {% for member in settings.team %}
    <div class="col-md-3 p-2">
      <div class="funny-switch">
        <amp-img
          src="{{ member.photo }}"
          class="img-fluid img-main"
          alt="Responsive Image"
          width="269"
          height="336"
          layout="responsive"
          alt="team-{{forloop.index}}"
        ></amp-img>
        <img
          src="{{ member.photo}}"
          class="img-fluid img-funny"
          alt="Responsive Image"
        />
        <div class="text-center image-info">
          <h4>{{ member.name }}</h4>
          <div>{{ member.position }}</div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
